Repository kowhai-2018/fishlist, pull requests merged in 2018-11, with the labels that each got.

#15 #8 display details view
  client/components/App.jsx
  client/components/Fish.jsx
  client/components/FishDetails.jsx
  client/components/FishList.jsx
  client/components/TopMenu.jsx
Labels: client

#20 5 sort alphabetically
  client/actions.js
  client/components/FishList.jsx
  client/reducer/index.js
  client/reducer/sort.js
Labels: client

#54 #34 Register form
  client/components/App.jsx
  client/components/LoginForm.jsx
  client/components/LogoutButton.jsx
  client/components/RegisterForm.jsx
  server/routes/auth.js
Labels: auth

#58 12 post new fish
  seeds/fish.js
  server/db/fish.js
  server/routes/fish.js
Labels: server
